<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Bars.B4.Config.Modules.ModulesSectionHandler, Bars.B4.Core" />
    <section name="b4config" type="Bars.B4.Config.SectionHandler, Bars.B4.Core" />
  </configSections>
  <b4config>
    
    <!--База данных для test схем-->
    <!--<dbconfig connstring="Server=192.168.222.143;CommandTimeout=7000;Database=test_sahalin;User ID=bars;Password=123;" dbtype="PostgreSql" />-->
    <!--<dbconfig connstring="Data Source=192.168.228.47/orcl;User ID=test_samara;Password=bars" dbtype="Oracle10" /-->

    <!--База данных для stable схем-->
    <!--<dbconfig connstring="Server=10.1.73.115;CommandTimeout=7000;Database=stable_sahalin;User ID=bars;Password=123;" dbtype="PostgreSql" />-->
    <!--<dbconfig connstring="Data Source=10.1.73.114/orcl;User ID=stable_samara;Password=bars" dbtype="Oracle10" /-->
    <dbconfig connstring="Server=10.1.73.115;CommandTimeout=7000;Database=stable_zabaykalye;User ID=bars;Password=123;" dbtype="PostgreSql" />
    <localization language="Ru" />
    <modules>
      <disabledModules>
        <clear />
      </disabledModules>
    </modules>
    <appsettings>
      <clear />
      <add key="DevLicense" value="true" />
      <add key="smtpClient" value="domen" />
      <add key="smtpPort" value="25" />
      <add key="enableSsl" value="false" />
      <add key="smtpLogin" value="login" />
      <add key="smtpPassword" value="password" />
      <add key="smtpEmail" value="login@domen" />
      <add key="OlapCacheExpireTimeInMinutes" value="60" />
      <add key="ResourceBundle.CombineResources" value="false" />
      <add key="ResourceBundle.CompressCombinedCss" value="false" />
      <add key="ResourceBundle.CompressCombinedJs" value="false" />
      <add key="Debug" value="true" />
      <add key="AutomaticIntegEdo" value="false" />
      <add key="AutomaticIntegEdoLoadDataInterval" value="61" />
      <add key="AutomaticIntegEdoLoadDocumentsInterval" value="122" />
      <add key="Overhaul_ProgrammPeriodStart" value="2014" />
      <add key="Overhaul_ProgrammPeriodEnd" value="2038" />
      <add key="Overhaul_GroupByCeoPeriod" value="1" />
      <add key="Overhaul_GroupByRoPeriod" value="0" />
      <add key="Overhaul_ServiceCost" value="4" />
      <add key="Overhaul_YearPercent" value="0" />
      <add key="Overhaul_ShortTermProgPeriod" value="3" />
      <add key="Overhaul_PublicationPeriod" value="3" />
      <add key="Overhaul_BillingUrl" value="http://81.161.114.3/bill/" />
      <add key="Overhaul_AnalyticsUrl" value="http://81.161.114.4/bind/gkh/" />
      <add key="Overhaul_MonitoringUrl" value="http://81.161.114.4/gkh_ria" />
      <add key="Overhaul_UcpUrl" value=" http://81.161.114.4/ucp/" />
      <add key="FtpPath" value="C:\stash\gkh\Kamchatka\Bars.Gkh.App\.ftp" />
      <add key="FtpHost" value="ftp://localhost" />
      <add key="Overhaul_MethodOfCalculation" value="30" />
      <add key="Overhaul_RateCalcTypeArea" value="0" />
      <add key="Overhaul_MinimumCountApartments" value="" />
      <add key="Overhaul_WearMainCeo" value="" />
      <add key="Overhaul_TypeUseWearMainCeo" value="0" />
      <add key="Overhaul_UseLimitCost" value="false" />
      <add key="Overhaul_UsePhysicalWearout" value="false" />
      <add key="Overhaul_PhysicalWear" value="" />
      <add key="Overhaul_UseManyApartments" value="true" />
      <add key="Overhaul_UseBlockedBuilding" value="false" />
      <add key="Overhaul_UseIndividual" value="false" />
      <add key="Overhaul_UseSocialBehavior" value="false" />
      <add key="Overhaul_UseRealObjCollection" value="false" />
      <add key="Overhaul_WorkPriceCalcYear" value="10" />
      <add key="Overhaul_WorkPriceDetermineType" value="0" />
      <add key="Overhaul_UseFixationPublishedYears" value="false" />
      <add key="Overhaul_UseShortProgramPeriod" value="10" />
      <add key="Overhaul_TypeCorrection" value="0" />
      <add key="Overhaul_TypeCorrectionActualizeRecs" value="0" />
      <add key="GkhCr_CountEstimatesByWork" value="0" />
      <add key="GkhCr_BuilderSelection" value="10" />
      <add key="Gkh_ExecutionActionThreadCount" value="1" />
      <add key="Gkh_ExecutionActionThreadPriority" value="Normal" />
      <add key="Gkh_ExecutionActionAutoStartMandatory" value="true" />
      <add key="isConverting" value="true" />
      <add key="PerformanceLogger.Enabled" value="true" />
      <add key="RegOperator.ChangePersonalAccountState.Enabled" value="true" />
      <add key="FormatDataExport.RemoteAddress" value="" />
      <add key="RoutePermissionOn" value="true" />
      <add key="ftpServer" value="localhost" />
      <add key="ftpUser" value="admin" />
      <add key="ftpPassword" value="password" />
      <!--Кеширование настроек прав доступа в секундах-->
      <add key="Duration_RolePermissions_Caching" value="10" />
      <add key="PaymentDocumentSmtpClient" value="mail-dev.bars-open.ru" />
      <add key="PaymentDocumentSmtpPort" value="25" />
      <add key="PaymentDocumentSmtpLogin" value="no_reply" />
      <add key="PaymentDocumentSmtpPassword" value="df78t24rvbhxxcvSBGTe" />
      <add key="PaymentDocumentSmtpEmail" value="no_reply@mail-dev.bars-open.ru" />
      <!--Кеширование настроек прав доступа по статусам в секундах-->
      <add key="Duration_RoleStatePermissions_Caching" value="10" />
      <!--Кеширование единых настроек приложения в минутах-->
      <add key="GkhConfig.CacheLifeTime" value="1" />
      <!--Кеширование технического паспорта в минутах-->
      <add key="TehPassportCacheDuration" value="60" />
    </appsettings>
    <security rootPassword="123" />
  </b4config>
  <modules>
    <Module Id="Bars.B4.Modules.FileSystemStorage">
      <parameters>
        <clear />
        <add key="FileDirectory" value=".fileStorage" />
      </parameters>
    </Module>
    <Module Id="Bars.B4.Modules.NHibernateChangeLog">
      <parameters>
        <clear />
        <add key="Enabled" value="false" />
      </parameters>
    </Module>
    <Module Id="Bars.B4.Modules.Security">
      <parameters>
        <add key="MD5HashType" value="MD5B2" />
      </parameters>
    </Module>
    <Module Id="Bars.B4.Modules.Security.Web">
      <parameters>
        <add key="EnableLimitAuthenticatedUsersByLogin" value="false" />
      </parameters>
    </Module>
    <Module Id="Bars.B4.Modules.FIAS.AutoUpdater">
        <parameters>
            <clear />
            <!--Кодировка *.dbf файлов-->
            <add key="DbfEncoding" value="cp866" />
            <!--Web-сервис ФИАС-->
            <add key="EndpointAddress" value="http://fias.nalog.ru/WebServices/Public/DownloadService.asmx" />
            <!--Имя таблицы Fias-->
            <add key="FiasTableName" value="b4_fias" />
            <!--Имя таблицы FiasHouse-->
            <add key="FiasHouseTableName" value="b4_fias_house" />
            <!--Код региона-->
            <add key="RegionCode" value="" />
            <!--Рабочая директория загрузки и распаковки файлов-->
            <add key="WorkDirectory" value="" />
        </parameters>
    </Module>
    <!--<Module Id="Bars.B4.Modules.Caching.Redis">
      <parameters>
        <clear/>
        <add key="Hosts" value="10.1.73.115:6379" />
        <add key="Db" value="125" />
      </parameters>
    </Module>-->
    
    <!--Возоможность работать под одним логином в один момент времени только одному пользователю-->
    <!--Также требуется зарегистрировать дефолтную реализацию ILimitAuthenticatedUsersByLoginProvider - DefaultLimitAuthenticatedUsersByLoginProvider-->
    <!--<Module Id="Bars.B4.Modules.Security.Web">
      <parameters>
        <add key="EnableLimitAuthenticatedUsersByLogin" value="true" />
        <add key="LimitAuthenticatedUsersByLogin" value="1" />
        <add key="AuthenticationTimeout" value="720" />
      </parameters>
    </Module>-->

    <!--Авторизация через ЕСИА с помощью OAuth20-->
    <!--<Module Id="Bars.B4.Modules.ESIA.OAuth20">
      <parameters>
        <clear />
        <add key="CertificateThumbPrint" value="‎B7561E8722FB59180B56432D72C81AE890C7447C" />
        <add key="ClientId" value="212807741" />
        <add key="CallbackUri" value="https://gkh-test.bars-open.ru/gkhtest/" />
        <add key="RedirectUri" value="https://esia-portal1.test.gosuslugi.ru/aas/oauth2/ac" />
        <add key="TokenUri" value="https://esia-portal1.test.gosuslugi.ru/aas/oauth2/te" />
        <add key="RestUri" value="https://esia-portal1.test.gosuslugi.ru/rs" />
      </parameters>
    </Module>-->
  </modules>
</configuration>