<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Federation" type="Bars.B4.Modules.ESIA.ConfigProvider.SectionHandler, Bars.B4.Modules.ESIA"/>
    <section name="SAML20Federation" type="Bars.B4.Modules.ESIA.ConfigProvider.SectionHandler, Bars.B4.Modules.ESIA"/>
  </configSections>
  <Federation xmlns="urn:dk.nita.saml20.configuration">
    <SigningCertificate findValue="6a6e18d57182cd34831c089e1cd15c04e451832c" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <AllowedAudienceUris>
      <Audience>http://gkh-test.bars-open.ru</Audience>
    </AllowedAudienceUris>
    <Actions>
      <clear/>
      <add name="ESIALoginAction" type="Bars.B4.Modules.ESIA.ConfigProvider.ESIALoginAction, Bars.B4.Modules.ESIA"/>
      <add name="Redirect" type="Bars.B4.Modules.ESIA.dk.nita.saml20.Actions.RedirectAction, Bars.B4.Modules.ESIA"/>
    </Actions>
  </Federation>
  <SAML20Federation xmlns="urn:dk.nita.saml20.configuration">
    <ServiceProvider id="http://gkh-test.bars-open.ru" server="http://gkh-test.bars-open.ru">
      <ServiceEndpoint localpath="/esia/login.ashx" type="signon" redirectUrl="http://gkh-test.bars-open.ru/test-rt/login" index="0"/>
      <ServiceEndpoint localpath="/esia/logout.ashx" type="logout" redirectUrl="http://gkh-test.bars-open.ru/test-rt/login" index="1"/>
      <ServiceEndpoint localpath="/esia/metadata.ashx" type="metadata"/>
      <md:ContactPerson contactType="administrative" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
        <md:Company>BARS</md:Company>
        <md:GivenName>BARS</md:GivenName>
        <md:SurName>BARS</md:SurName>
        <md:EmailAddress>bars@bars-open.ru</md:EmailAddress>
        <md:TelephoneNumber>+111111</md:TelephoneNumber>
      </md:ContactPerson>
    </ServiceProvider>
    <RequestedAttributes>
      <att name="urn:esia:personSNILS" isRequired="true"/>
    </RequestedAttributes>
    <NameIdFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:X509SubjectName</NameIdFormat>
    <IDPEndPoints metadata="C:\web\test\esiametadata\">
      <add id="https://esia-portal2.test.gosuslugi.ru/idp/shibboleth" omitAssertionSignatureCheck="true"></add>
    </IDPEndPoints>
    <CommonDomain enabled="false" localReaderEndpoint=""/>
  </SAML20Federation>
</configuration>