<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/.errors" />
    <security allowRemoteAccess="yes" />
    <!--<errorMail from="from_mail@bars-open.ru" to="to_mail@bars-open.ru"
            subject="Application Exception"
            async="true"
            smtpPort="0"
            smtpServer="mail.bars-open.ru"
            useSsl="false">
    </errorMail>-->
  </elmah>
  <location path="SedAppeals/SendAppeals">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OauthLogin">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="action/SedAppeals/SendAppeals">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="direport">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="GisMobileService">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExternalReport/Generate">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Message/Check">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="GmpInnChecker/Check">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
      <httpHandlers>
        <add verb="GET,HEAD,POST" path="*" type="System.Web.StaticFileHandler" validate="false" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler_Content" path="*" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
    </system.webServer>
  </location>
  <location path="auth/esia/receive-authn-response">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <httpRedirect enabled="true" destination="../../esia/login.ashx" httpResponseStatus="Temporary" />
    </system.webServer>
  </location>
  <location path="esia">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MobileCr">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="action/MobileCr">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="scripts/public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <httpHandlers>
        <add verb="GET,HEAD,POST" path="*" type="System.Web.StaticFileHandler" validate="false" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler_Scripts" path="*" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
    </system.webServer>
  </location>
  <location path="libs">
    <system.web>
      <httpHandlers>
        <add verb="GET,HEAD,POST" path="*" type="System.Web.StaticFileHandler" validate="false" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler_Libs" path="*" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
    </system.webServer>
  </location>
  <location path="resources">
    <system.web>
      <httpHandlers>
        <add verb="GET,HEAD,POST" path="*" type="System.Web.StaticFileHandler" validate="false" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler_Resources" path="*" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
    </system.webServer>
  </location>
  <!-- Необходимо раскомментировать для включения принудительной аутентификации-->
  <location path="setup">
    <system.web>
      <authorization>
        <allow users="root" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="action/Registration">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="action/Municipality/List">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="libs/jquery/jquery-1.9.1.min.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="404">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="500">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="error/unhandlederror">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="errors.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="WS">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="action/FileTransport">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="noie6">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="resourcebundle">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="log4net.Config" value="config/log.config" />
    <add key="PageInspector:ServerCodeMappingSuppurt" value="Enabled" />
    <!--GISGKH-->
    <!--<add key="SignSertificateThumbprint" value="‎33cc492dca13cf64de19676644770192cd531fa7" />
    <add key="SignSertificateThumbprint" value="e76296331971f66a745b5d79c04ee359e985984b" />
    <add key="OGRN" value="1126316006640" />
    <add key="KPP" value="631501001" />-->
    <!--<add key="GisGkhUserName" value="sit" />
    <add key="GisGkhPassword" value="xw{p&amp;&amp;Ee3b9r8?amJv*]" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" />

    <!--
		http://stackoverflow.com/questions/20516255/asp-website-does-not-seem-to-use-machinekey-in-web-config-for-formsauthenticatio
	-->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" compatibilityMode="Framework45" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!--Кэшировать данные мобильных сервисов MobileCrController на 1час-->
          <add name="mobilecr" duration="86400" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
      <buildProviders>
        <remove extension=".cshtml" />
        <add extension=".cshtml" type="Bars.B4.CustomRazorBuildProvider, Bars.B4.Web, Version=1.0.0.0, Culture=neutral" />
      </buildProviders>
    </compilation>
    <!-- Необходимо раскомментировать для включения обработки ошибок 404 и 500
    <customErrors mode="On" defaultRedirect="~/500">
      <error statusCode="404" redirect="~/404"/>
      <error statusCode="500" redirect="~/500"/>
    </customErrors>-->
    <customErrors mode="Off" />
    <globalization culture="ru-RU" uiCulture="ru-RU" />
    <authentication mode="Forms">
      <forms protection="All" loginUrl="~/login" slidingExpiration="true" cookieless="UseDeviceProfile" timeout="43200" enableCrossAppRedirects="false" />
    </authentication>
    <!--Необходимо раскомментировать для включения принудительной аутентификации-->
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime executionTimeout="300000" maxRequestLength="1024000" maxQueryStringLength="2097151" targetFramework="4.5.1" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="Bars.B4" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.B4asmx" verb="*" type="Bars.B4.WebServiceBase, Bars.B4.Web" />
      <add path="*.B4axd" verb="*" type="Bars.B4.HttpHandlerFactory, Bars.B4.Web" validate="false" />
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="POST,GET,HEAD" path="errors.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add verb="GET,HEAD,POST" path="*.js,*.css,*.png,*.gif,*.jpg,*.ico,*.html" type="System.Web.StaticFileHandler" validate="false" />
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
    </httpHandlers>
    <httpModules>
      <!--
    FIXME:
    Mono's ASP.NET MVC throws exceptions if Session module is absent
    -->
      <!--<remove name="Session"/>-->
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="RoleManager" />
      <remove name="FileAuthorization" />
      <remove name="Profile" />
      <remove name="ErrorHandlerModule" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="Elmah.ErrorMail" type="Elmah.ErrorMailModule" />
      <add name="Elmah.FixIIS5xWildcardMapping" type="Elmah.FixIIS5xWildcardMappingModule, Elmah" />
      <add name="StaticFileCacheModule" type="Bars.B4.StaticFileCacheHttpModule, Bars.B4.Web" />
      <add name="UnhandledExceptionHandlerModule" type="Bars.B4.UnhandledExceptionHandlerModule.UnhandledExceptionHandlerModule, Bars.B4.Web" />
      <!--<add name="NoIE6HttpModule" type="Bars.B4.HttpModules.NoIE6HttpModule, Bars.B4" />-->
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <remove name="UrlRoutingModule" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="PerRequestLifestyle" preCondition="managedHandler" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="Elmah.ErrorMail" type="Elmah.ErrorMailModule" />
      <add name="IIS7UnhandledExceptionHandlerModule" type="Bars.B4.UnhandledExceptionHandlerModule.IIS7UnhandledExceptionHandlerModule, Bars.B4.Web" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers accessPolicy="Read, Execute, Script">
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="UrlRoutingHandler" />
      <add name="B4WebService" path="*.B4asmx" verb="*" type="Bars.B4.WebServiceBase, Bars.B4.Web" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode" />
      <add name="B4HttpHandler" path="*.B4axd" verb="*" type="Bars.B4.HttpHandlerFactory, Bars.B4.Web" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="StaticFileHandler" path="*.js,*.css,*.png,*.gif,*.jpg,*.ico,*.html" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      <add name="Logger" path="errors.axd" verb="*" type="Elmah.ErrorLogPageFactory, Elmah" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode" />
      <add name="WebResource" path="WebResource.axd" verb="*" type="System.Web.Handlers.AssemblyResourceLoader" />
    </handlers>
    <httpErrors existingResponse="PassThrough">
      <remove statusCode="500" subStatusCode="-1" />
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" maxUrl="32768" maxQueryString="32768" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <!--<extensions>
      <behaviorExtensions>
        <add name="MessageInspectorBehavior" type="GisGkhLibrary.Crypto.MessageInspectorBehaviorElement, GisGkhLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
      </serviceBehaviors>
      <!--<endpointBehaviors>
        <behavior name="clientCertificateConf">
          <MessageInspectorBehavior />
          --><!--<clientCredentials>
            <clientCertificate findValue="‎33cc492dca13cf64de19676644770192cd531fa7" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" />
            <clientCertificate findValue="e76296331971f66a745b5d79c04ee359e985984b" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>--><!--
        </behavior>
      </endpointBehaviors>-->

    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="http://api.reformagkh.ru/api_document_literal" binding="basicHttpBinding" bindingConfiguration="ApiSoapBinding" contract="ReformaService.ApiSoapPort" name="ApiSoapPort" />


      <endpoint address="http://127.0.0.1:8090/ext-bus-bills-service/services/BillsAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="BillsService.BillsPortsTypeAsync" name="BillsPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-device-metering-service/services/DeviceMeteringAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="DeviceMeteringService.DeviceMeteringPortTypesAsync" name="DeviceMeteringPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-home-management-service/services/HomeManagementAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="HouseManagementAsync.HouseManagementPortsTypeAsync" name="HouseManagementPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-rki-service/services/InfrastructureAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="InfrastructureService.InfrastructurePortsTypeAsync" name="InfrastructurePortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-inspection-service/services/InspectionAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="InspectionService.InspectionPortsTypeAsync" name="InspectionPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-licenses-service/services/LicensesAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="LicensesService.LicensePortsTypeAsync" name="LicensesPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-nsi-common-service/services/NsiCommonAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="NsiCommonAsync.NsiPortsTypeAsync" name="NsiPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-nsi-service/services/NsiAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="NsiService.NsiPortsTypeAsync" name="NsiPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-org-registry-common-service/services/OrgRegistryCommonAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="RegOrgCommonAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-org-registry-common-service/services/OrgRegistryCommon" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="RegOrgCommon.RegOrgPortsType" name="RegOrgPort" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-org-registry-service/services/OrgRegistryAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="OrganizationsRegistryService.RegOrgPortsTypeAsync" name="OrgRegAsyncPort" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-payment-service/services/PaymentAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="PaymentService.PaymentPortsTypeAsync" name="PaymentPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-organization-service/services/OrganizationAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="ServicesService.ServicesPortsTypeAsync" name="defaultPort" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-capital-repair-programs-service/services/CapitalRepairAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="HcsCapitalRepairAsync.CapitalRepairAsyncPort" name="CapitalRepairAsyncPort" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-bills-service/services/BillsAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="BillsServiceAsync.BillsPortsTypeAsync" name="BillsPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-payment-service/services/PaymentAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="PaymentServiceAsync.PaymentPortsTypeAsync" name="PaymentPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-nsi-service/services/NsiAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="NsiServiceAsync.NsiPortsTypeAsync" name="NsiPortAsync1" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-inspection-service/services/InspectionAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="InspectionServiceAsync.InspectionPortsTypeAsync" name="InspectionPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-appeals-service/services/AppealsAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="AppealsServiceAsync.AppealsAsyncPort" name="AppealsAsyncPort" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-rap-service/services/RapAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="RapServiceAsync.RapPortAsync" name="RapPortAsync" />
      <endpoint address="http://127.0.0.1:8090/ext-bus-licenses-service/services/LicensesAsync" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnel" behaviorConfiguration="clientCertificateConf" contract="LicenseServiceAsync.LicensePortsTypeAsync" name="LicensesPortAsync" />

      <endpoint address="http://127.0.0.1:8090/ext-bus-file-store-service/rest/" binding="basicHttpBinding" bindingConfiguration="GisGKHTunnelFile" contract="FileServiceProvider.FileServicePort" name="FileServicePort" />

      <!--<endpoint address="https://api.dom.gosuslugi.ru:443/ext-bus-nsi-common-service/services/NsiCommon" binding="customBinding" behaviorConfiguration="clientCertificateConf" contract="NsiCommon.NsiPortsType" name="NsiCommon" />
      <endpoint address="https://api.dom.gosuslugi.ru:443/ext-bus-nsi-service/services/Nsi" binding="customBinding" behaviorConfiguration="clientCertificateConf" contract="Nsi.NsiPortsType" name="Nsi" />
      <endpoint address="https://api.dom.gosuslugi.ru:443/ext-bus-home-management-service/services/HomeManagement" binding="customBinding" behaviorConfiguration="clientCertificateConf" contract="HouseManagement.HouseManagementPortsType" name="HouseManagement" />
      <endpoint address="https://api.dom.gosuslugi.ru:443/ext-bus-device-metering-service/services/DeviceMetering" binding="customBinding" behaviorConfiguration="clientCertificateConf" contract="DeviceMetering.DeviceMeteringPortTypes" name="DeviceMetering" />
      <endpoint address="https://api.dom.gosuslugi.ru:443/ext-bus-bills-service/services/Bills" binding="customBinding" behaviorConfiguration="clientCertificateConf" contract="PaymentDocuments.BillsPortsType" name="Bills" />
      <endpoint address="https://api.dom.gosuslugi.ru:443/ext-bus-org-registry-common-service/services/OrgRegistryCommon" binding="customBinding" behaviorConfiguration="clientCertificateConf" contract="RegOrgCommon.RegOrgPortsType" name="RegOrgCommon" />
      <endpoint address="https://api.dom.gosuslugi.ru:443/ext-bus-home-management-service/services/HomeManagementAsync" binding="customBinding" behaviorConfiguration="clientCertificateConf" contract="HouseManagementAsync.HouseManagementPortsTypeAsync" name="HouseManagementAsync" />-->
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="GisGKHTunnel" allowCookies="false" useDefaultWebProxy="true" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" realm="" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="GisGKHTunnelFile" allowCookies="false" useDefaultWebProxy="true" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" transferMode="Buffered" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" realm="" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="ApiSoapBinding" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" />
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="HouseManagementBinding">
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport transferMode="Buffered" authenticationScheme="Basic" useDefaultWebProxy="true" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="ApiSoapBinding" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport transferMode="Buffered" authenticationScheme="Basic" useDefaultWebProxy="true" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>-->
    </bindings>
    <!--<diagnostics performanceCounters="All" wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="100000" maxSizeOfMessageToLog="458752" />
    </diagnostics>-->

  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source propagateActivity="false" name="System.ServiceModel" switchValue="Information">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Temp\Error.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".cache" />
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.3.0" newVersion="2.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-18.2451.0.46" newVersion="18.2451.0.46" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>
