<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HouseManagementBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="HouseManagementBindingAsync1" />
        <binding name="CapitalRepairAsyncBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CapitalRepairAsyncBinding1" />
        <binding name="CapitalRepairAsyncBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="CapitalRepairAsyncBinding3" />
        <binding name="NsiBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="NsiBindingAsync1" />
        <binding name="RegOrgBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="RegOrgBindingAsync1" />
        <binding name="BillsBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="BillsBindingAsync1" />
        <binding name="PaymentsBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentsBindingAsync1" />
        <binding name="NsiBindingAsync2">
          <security mode="Transport" />
        </binding>
        <binding name="NsiBindingAsync3" />
        <binding name="AppealsAsyncBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AppealsAsyncBinding1" />
        <binding name="RapBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="RapBindingAsync1" />
        <binding name="InspectionBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="InspectionBindingAsync1" />
        <binding name="LicenseBindingAsync">
          <security mode="Transport" />
        </binding>
        <binding name="LicenseBindingAsync1" />
      </basicHttpBinding>
    </bindings>
    <!--<client>
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-home-management-service/services/HomeManagement"
                binding="basicHttpBinding" bindingConfiguration="HouseManagementBinding"  
                contract="HouseManagement.HouseManagementPortsType" name="HouseManagementPort" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-nsi-common-service/services/NsiCommon"
                binding="basicHttpBinding" bindingConfiguration="NsiBinding"
                contract="NsiCommon.NsiPortsType" name="NsiPort" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommon"
                binding="basicHttpBinding" bindingConfiguration="RegOrgBinding"
                contract="RegOrgCommon.RegOrgPortsType" name="RegOrgPort" />
        </client>-->
    <client>
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-home-management-service/services/HomeManagementAsync"
        binding="basicHttpBinding" bindingConfiguration="HouseManagementBindingAsync"
        contract="HouseManagementAsync.HouseManagementPortsTypeAsync"
        name="HouseManagementPortAsync" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-capital-repair-programs-service/services/CapitalRepairAsync"
        binding="basicHttpBinding" bindingConfiguration="CapitalRepairAsyncBinding"
        contract="HcsCapitalRepairAsync.CapitalRepairAsyncPort" name="CapitalRepairAsyncPort" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-capital-repair-programs-service/services/CapitalRepairAsync"
        binding="basicHttpBinding" bindingConfiguration="CapitalRepairAsyncBinding2"
        contract="HcsCapitalRepairAsync.CapitalRepairAsyncPort" name="CapitalRepairAsyncPort1" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-nsi-common-service/services/NsiCommonAsync"
        binding="basicHttpBinding" bindingConfiguration="NsiBindingAsync"
        contract="NsiCommonAsync.NsiPortsTypeAsync" name="NsiPortAsync" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-org-registry-common-service/services/OrgRegistryCommonAsync"
        binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync"
        contract="RegOrgCommonAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-bills-service/services/BillsAsync"
        binding="basicHttpBinding" bindingConfiguration="BillsBindingAsync"
        contract="BillsServiceAsync.BillsPortsTypeAsync" name="BillsPortAsync" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-payment-service/services/PaymentAsync"
        binding="basicHttpBinding" bindingConfiguration="PaymentsBindingAsync"
        contract="PaymentServiceAsync.PaymentPortsTypeAsync" name="PaymentPortAsync" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-nsi-service/services/NsiAsync"
        binding="basicHttpBinding" bindingConfiguration="NsiBindingAsync2"
        contract="NsiServiceAsync.NsiPortsTypeAsync" name="NsiPortAsync1" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-appeals-service/services/AppealsAsync"
        binding="basicHttpBinding" bindingConfiguration="AppealsAsyncBinding"
        contract="AppealsServiceAsync.AppealsAsyncPort" name="AppealsAsyncPort" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-rap-service/services/RapAsync"
        binding="basicHttpBinding" bindingConfiguration="RapBindingAsync"
        contract="RapServiceAsync.RapPortAsync" name="RapPortAsync" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-licenses-service/services/LicensesAsync"
        binding="basicHttpBinding" bindingConfiguration="LicenseBindingAsync"
        contract="LicenseServiceAsync.LicensePortsTypeAsync" name="LicensesPortAsync" />
      <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-inspection-service/services/InspectionAsync"
        binding="basicHttpBinding" bindingConfiguration="InspectionBindingAsync"
        contract="InspectionServiceAsync.InspectionPortsTypeAsync" name="InspectionPortAsync" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
