<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="logmanager" type="Bars.B4.Config.Logger.LogManagerConfigSectionHandler, Bars.B4.Core" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">
    <extensions>
      <add assembly="NLog.Targets.Sentry" />
    </extensions>
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/.logs/${shortdate}/${level}.log"
              layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
      <target name="console" xsi:type="Debugger"
              layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
      <target xsi:type="AsyncWrapper" name="sentryAsync">
        <target name="sentry" type="Sentry"
                dsn="http://48463c984ea34ad587f62559ef69334e:9c4a17f4a4304aa6a4d88b936254c418@sentry.bars-open.ru/205" />
      </target>
      <target name="quartzlogfile" xsi:type="File" fileName="${basedir}/.logs/Bars.Gkh.Quartz.Scheduler/${shortdate}.log"/>
    </targets>

    <rules>
      <logger name="nlog*" minlevel="Debug" writeTo="logfile" />
      <logger name="nlog*" minlevel="Debug" writeTo="console" />
      <logger name="Bars*" minlevel="Debug" writeTo="logfile" />
      <logger name="Bars*" minlevel="Debug" writeTo="console" />
      <!--       
      <logger name="NHibernate.SQL" minlevel="Debug" writeTo="logfile" />-->
      <logger name="NHibernate.SQL" minlevel="Debug" writeTo="console" />

      <logger name="NHibernate.*" final="true" />
      <logger name="*" minlevel="Error" writeTo="logfile" />
      <logger name="*" minlevel="Error" writeTo="console" />
      <logger name="*" minlevel="Error" writeTo="sentryAsync" />
      <logger name="Bars.Gkh.Quartz.Scheduler.*" minlevel="Debug" writeTo="quartzlogfile" />
      <logger name="Bars.Gkh.Quartz.Scheduler.*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>

  <logmanager>
    <loggers>
      <logger name="nlog" type="Bars.B4.Modules.NlogLogger.NlogFactory, Bars.B4.Modules.NlogLogger" />
    </loggers>
  </logmanager>
</configuration>