<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<packages>
  <package id="B4.Ecm7Migrator-Core" version="1.0.3.0" targetFramework="net40" />
  <package id="B4.Ecm7Migrator-Migrator" version="1.0.3.0" targetFramework="net40" />
  <package id="B4.Ecm7Migrator-Oracle" version="1.0.2.0" targetFramework="net40" />
  <package id="B4.Ecm7Migrator-PostgreSQL" version="1.0.3.2" targetFramework="net40" />
  <package id="Bars.B4.Core" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.DataExport" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.ECM7" version="1.8.1805-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.ExtJs" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.FIAS" version="1.8.1669-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.FileStorage" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.NH" version="1.8.1805-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.NH.Fluent" version="1.8.1805-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.Pivot" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.ReportPanel" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.Security" version="1.8.1817-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.States" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Modules.TaskManager.Contracts" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Reports" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Utils" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Utils.Web" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.B4.Web" version="1.7.1426-dev" targetFramework="net40" />
  <package id="Bars.Logging.BaseLogger" version="1.6.67196-dev" targetFramework="net40" />
  <package id="Bars.Logging.SentryLogger" version="1.6.67196-dev" targetFramework="net40" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Core-log4net" version="3.3.0" targetFramework="net40" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net40" />
  <package id="Castle.WcfIntegrationFacility" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Mvc3-Base" version="3.0.20106" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net40" />
  <package id="NLog" version="2.0.1.2" targetFramework="net40" />
  <package id="Npgsql" version="2.1.2" targetFramework="net40" />
  <package id="raven-csharp-protocol20" version="1.0.2" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.3.0.0" targetFramework="net40" />
</packages>