<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NsiBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RegOrgBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="NsiBinding1" />
                <binding name="RegOrgBindingAsync1" />
                <binding name="InspectionBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="InspectionBindingAsync1" />
                <binding name="HouseManagementBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="HouseManagementBindingAsync1" />
                <binding name="PaymentsBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentsBindingAsync1" />
                <binding name="CapitalRepairAsyncBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CapitalRepairAsyncBinding1" />
                <binding name="BillsBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="BillsBindingAsync1" />
                <binding name="RegOrgBindingAsync2">
                    <security mode="Transport" />
                </binding>
                <binding name="RegOrgBindingAsync3" />
                <binding name="NsiBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="NsiBindingAsync1" />
                <binding name="DeviceMeteringBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="DeviceMeteringBindingAsync1" />
                <binding name="InfrastructureBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="InfrastructureBindingAsync1" />
                <binding name="ServicesBindingAsync">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicesBindingAsync1" />
                <binding name="RegOrgBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RegOrgBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-nsi-common-service/services/NsiCommon"
                binding="basicHttpBinding" bindingConfiguration="NsiBinding"
                contract="NsiCommon.NsiPortsType" name="NsiPort" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommonAsync"
                binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync"
                contract="OrgRegistryCommonAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-inspection-service/services/InspectionAsync"
                binding="basicHttpBinding" bindingConfiguration="InspectionBindingAsync"
                contract="InspectionAsync.InspectionPortsTypeAsync" name="InspectionPortAsync" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-home-management-service/services/HomeManagementAsync"
                binding="basicHttpBinding" bindingConfiguration="HouseManagementBindingAsync"
                contract="HouseManagementAsync.HouseManagementPortsTypeAsync"
                name="HouseManagementPortAsync" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-payment-service/services/PaymentAsync"
                binding="basicHttpBinding" bindingConfiguration="PaymentsBindingAsync"
                contract="PaymentAsync.PaymentPortsTypeAsync" name="PaymentPortAsync" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-capital-repair-programs-service/services/CapitalRepairAsync"
                binding="basicHttpBinding" bindingConfiguration="CapitalRepairAsyncBinding"
                contract="CapitalRepair.CapitalRepairAsyncPort" name="CapitalRepairAsyncPort" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-bills-service/services/BillsAsync/"
                binding="basicHttpBinding" bindingConfiguration="BillsBindingAsync"
                contract="BillsAsync.BillsPortsTypeAsync" name="BillsPortAsync" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-nsi-service/services/NsiAsync"
                binding="basicHttpBinding" bindingConfiguration="NsiBindingAsync"
                contract="NsiAsync.NsiPortsTypeAsync" name="NsiPortAsync" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-device-metering-service/services/DeviceMeteringAsync"
                binding="basicHttpBinding" bindingConfiguration="DeviceMeteringBindingAsync"
                contract="DeviceMeteringAsync.DeviceMeteringPortTypesAsync"
                name="DeviceMeteringPortAsync" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-rki-service/services/InfrastructureAsync"
                binding="basicHttpBinding" bindingConfiguration="InfrastructureBindingAsync"
                contract="InfrastructureAsync.InfrastructurePortsTypeAsync"
                name="InfrastructurePortAsync" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-organization-service/services/OrganizationAsync"
                binding="basicHttpBinding" bindingConfiguration="ServicesBindingAsync"
                contract="ServicesAsync.ServicesPortsTypeAsync" name="defaultPort" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-org-registry-service/services/OrgRegistryAsync"
                binding="basicHttpBinding" bindingConfiguration="RegOrgBindingAsync2"
                contract="OrgRegistryAsync.RegOrgPortsTypeAsync" name="RegOrgAsyncPort1" />
            <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommon"
                binding="basicHttpBinding" bindingConfiguration="RegOrgBinding"
                contract="OrgRegistryCommon.RegOrgPortsType" name="RegOrgPort" />
        </client>
    </system.serviceModel>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.4.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="10.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
