<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMEVMessageExchangeSoap11Binding" messageEncoding="Mtom" />
                <binding name="SMEVMessageExchangeSoap11Binding1" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smev3-n0.test.gosuslugi.ru:7500/smev/v1.2/ws"
                binding="basicHttpBinding" bindingConfiguration="SMEVMessageExchangeSoap11Binding"
                contract="SmevReference.SMEVMessageExchangePortType" name="SMEVMessageExchangeEndpoint" />
            <endpoint address="http://smev3-n0.test.gosuslugi.ru:7500/smev/v1.2/ws"
                binding="basicHttpBinding" bindingConfiguration="SMEVMessageExchangeSoap11Binding1"
                contract="SMEV3TestReference.SMEVMessageExchangePortType"
                name="SMEVMessageExchangeEndpoint1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup><runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.4.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="10.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>
