<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--GISGKH-->
    <add key="SignSertificateThumbprint" value="e76296331971f66a745b5d79c04ee359e985984b" />
    <add key="OGRN" value="1126316006640" />
    <add key="KPP" value="631501001" />
    <add key="GisGkhUserName" value="sit" />
    <add key="GisGkhPassword" value="xw{p&amp;&amp;Ee3b9r8?amJv*]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HouseManagementBinding">
          <security mode="None" />
        </binding>
        <binding name="HouseManagementBinding1" />
        <binding name="NsiBinding">
          <security mode="None" />
        </binding>
        <binding name="NsiBinding1" />
        <binding name="RegOrgBinding">
          <security mode="None" />
        </binding>
        <binding name="RegOrgBinding1" />
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="MessageInspectorBehavior" type="GisGkhLibrary.Crypto.MessageInspectorBehaviorElement, GisGkhLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <!--<client>
      <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-home-management-service/services/HomeManagement"
          binding="basicHttpBinding" bindingConfiguration="HouseManagementBinding"
          contract="HouseManagement.HouseManagementPortsType" name="HouseManagementPort" />
      <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-nsi-common-service/services/NsiCommon"
          binding="basicHttpBinding" bindingConfiguration="NsiBinding"
          contract="NsiCommon.NsiPortsType" name="NsiPort" />
      <endpoint address="https://sit02.dom.test.gosuslugi.ru:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommon"
          binding="basicHttpBinding" bindingConfiguration="RegOrgBinding"
          contract="RegOrgCommon.RegOrgPortsType" name="RegOrgPort" />
    </client>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="clientCertificateConf">
          <clientCredentials>
            <clientCertificate findValue="e76296331971f66a745b5d79c04ee359e985984b" storeLocation="CurrentUser" x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://127.0.0.1:8080/ext-bus-home-management-service/services/HomeManagement" binding="basicHttpBinding" bindingConfiguration="HouseManagementBinding" contract="HouseManagement.HouseManagementPortsType" name="HouseManagementPort" />
      <endpoint address="http://127.0.0.1:8080/ext-bus-nsi-common-service/services/NsiCommon" binding="basicHttpBinding" bindingConfiguration="NsiBinding" contract="NsiCommon.NsiPortsType" name="NsiPort" />
      <endpoint address="http://127.0.0.1:8080/ext-bus-org-registry-common-service/services/OrgRegistryCommon" binding="basicHttpBinding" bindingConfiguration="RegOrgBinding" contract="RegOrgCommon.RegOrgPortsType" name="RegOrgPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <gcServer enabled="true" />
    <loadFromRemoteSources enabled="true" />
    <tmpAssemblyBinding />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>