<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Bars.GkhGji.Regions.Chelyabinsk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <system.serviceModel>
      <services>
        <service name="Bars.GkhGji.Regions.Chelyabinsk.Services.Impl.DublikatUL">
          <endpoint address=""
                    binding ="basicHttpBinding"
                    bindingNamespace="http://xsd.smev.ru/ppu/pmvGZHIgzhiDublikatUL"
                    contract="Bars.GkhGji.Regions.Chelyabinsk.Services.ServiceContracts.IDublikatUL"
          />
        </service>
        <service name="Bars.GkhGji.Regions.Chelyabinsk.Services.Impl.DublikatIP">
          <endpoint address=""
                    binding ="basicHttpBinding"
                    bindingNamespace="http://xsd.smev.ru/ppu/pmvGZHIgzhiDublikatIP"
                    contract="Bars.GkhGji.Regions.Chelyabinsk.Services.ServiceContracts.IDublikatIP"
          />
        </service>
        <service name="Bars.GkhGji.Regions.Chelyabinsk.Services.Impl.PredLicIP">
          <endpoint address=""
                    binding ="basicHttpBinding"
                    bindingNamespace="http://xsd.smev.ru/ppu/pmvGZHIgzhiPredLicIP"
                    contract="Bars.GkhGji.Regions.Chelyabinsk.Services.ServiceContracts.IPredLicIP"
          />
        </service>
        <service name="Bars.GkhGji.Regions.Chelyabinsk.Services.Impl.PredLicUL">
          <endpoint address=""
                    binding ="basicHttpBinding"
                    bindingNamespace="http://xsd.smev.ru/ppu/pmvGZHIgzhiPredLicUL"
                    contract="Bars.GkhGji.Regions.Chelyabinsk.Services.ServiceContracts.IPredLicUL"
          />
        </service>
        <service name="Bars.GkhGji.Regions.Chelyabinsk.Services.Impl.PereofIP">
          <endpoint address=""
                    binding ="basicHttpBinding"
                    bindingNamespace="http://xsd.smev.ru/ppu/pmvGZHIgzhiPereofIP"
                    contract="Bars.GkhGji.Regions.Chelyabinsk.Services.ServiceContracts.IPereofIP"
          />
        </service>
        <service name="Bars.GkhGji.Regions.Chelyabinsk.Services.Impl.PereofUL">
          <endpoint address=""
                    binding ="basicHttpBinding"
                    bindingNamespace="http://xsd.smev.ru/ppu/pmvGZHIgzhiPereofUL"
                    contract="Bars.GkhGji.Regions.Chelyabinsk.Services.ServiceContracts.IPereofUL"
          />
        </service>
      </services>
      <bindings>
            <basicHttpBinding>
              <binding name="SMEVMessageExchangeServiceSoapBinding"/>
              <binding name="CitizensAppealServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smev3-n0.test.gosuslugi.ru:7500/smev/v1.1/ws"
                binding="basicHttpBinding" bindingConfiguration="SMEVMessageExchangeServiceSoapBinding"
                contract="SmevRef.SMEVMessageExchangePortType" name="SMEVMessageExchangeEndpoint" />
            <endpoint address="http://intranet.kbspro.ru:7777/CitizensAppealService.asmx" 
                binding="basicHttpBinding" bindingConfiguration="CitizensAppealServiceSoap" 
                contract="EaisCitizensAppealService.CitizensAppealServiceSoap" name="CitizensAppealServiceSoap" />
        </client>
    </system.serviceModel>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.4.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.3.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="10.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.2.3.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.0.0.1" />
  </dependentAssembly>
</assemblyBinding></runtime>
  <applicationSettings>
    <Bars.GkhGji.Regions.Chelyabinsk.Properties.Settings>
      <setting name="Bars_GkhGji_Regions_Chelyabinsk_smevHistoryServiceV2_smevHistoryServiceV2"
          serializeAs="String">
        <value>http://172.153.155.30/service/smevHistoryService</value>
      </setting>
    </Bars.GkhGji.Regions.Chelyabinsk.Properties.Settings>
  </applicationSettings>
</configuration>
