<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/.errors" />
    <security allowRemoteAccess="yes" />
    <!--<errorMail from="from_mail@bars-open.ru" to="to_mail@bars-open.ru"
            subject="Application Exception"
            async="true"
            smtpPort="0"
            smtpServer="mail.bars-open.ru"
            useSsl="false">
    </errorMail>-->
  </elmah>
  <location path="SedAppeals/SendAppeals">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="action/SedAppeals/SendAppeals">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="direport">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="GisMobileService">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExternalReport/Generate">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Message/Check">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="GmpInnChecker/Check">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
      <httpHandlers>
        <add verb="GET,HEAD,POST" path="*" type="System.Web.StaticFileHandler" validate="false" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler_Content" path="*" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
    </system.webServer>
  </location>
  <location path="auth/esia/receive-authn-response">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <httpRedirect enabled="true" destination="../../esia/login.ashx" httpResponseStatus="Temporary" />
    </system.webServer>
  </location>
  <location path="esia">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MobileCr">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="action/MobileCr">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="scripts/public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <httpHandlers>
        <add verb="GET,HEAD,POST" path="*" type="System.Web.StaticFileHandler" validate="false" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler_Scripts" path="*" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
    </system.webServer>
  </location>
  <location path="libs">
    <system.web>
      <httpHandlers>
        <add verb="GET,HEAD,POST" path="*" type="System.Web.StaticFileHandler" validate="false" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler_Libs" path="*" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
    </system.webServer>
  </location>
  <location path="resources">
    <system.web>
      <httpHandlers>
        <add verb="GET,HEAD,POST" path="*" type="System.Web.StaticFileHandler" validate="false" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler_Resources" path="*" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
    </system.webServer>
  </location>
  <!-- Необходимо раскомментировать для включения принудительной аутентификации-->
  <location path="setup">
    <system.web>
      <authorization>
        <allow users="root" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="action/Registration">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="action/Municipality/List">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="libs/jquery/jquery-1.9.1.min.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="404">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="500">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="error/unhandlederror">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="errors.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="WS">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="noie6">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="resourcebundle">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="log4net.Config" value="config/log.config" />
    <add key="PageInspector:ServerCodeMappingSuppurt" value="Enabled" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" />

    <!--
		http://stackoverflow.com/questions/20516255/asp-website-does-not-seem-to-use-machinekey-in-web-config-for-formsauthenticatio
	-->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" compatibilityMode="Framework45" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!--Кэшировать данные мобильных сервисов MobileCrController на 1час-->
          <add name="mobilecr" duration="86400" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
      <buildProviders>
        <remove extension=".cshtml" />
        <add extension=".cshtml" type="Bars.B4.CustomRazorBuildProvider, Bars.B4.Web, Version=1.0.0.0, Culture=neutral" />
      </buildProviders>
    </compilation>
    <!-- Необходимо раскомментировать для включения обработки ошибок 404 и 500
    <customErrors mode="On" defaultRedirect="~/500">
      <error statusCode="404" redirect="~/404"/>
      <error statusCode="500" redirect="~/500"/>
    </customErrors>-->
    <customErrors mode="Off" />
    <globalization culture="ru-RU" uiCulture="ru-RU" />
    <authentication mode="Forms">
      <forms protection="All" loginUrl="~/login" slidingExpiration="true" cookieless="UseDeviceProfile" timeout="43200" enableCrossAppRedirects="false" />
    </authentication>
    <!--Необходимо раскомментировать для включения принудительной аутентификации-->
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime executionTimeout="300000" maxRequestLength="1024000" maxQueryStringLength="2097151" targetFramework="4.5.1" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="Bars.B4" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.B4asmx" verb="*" type="Bars.B4.WebServiceBase, Bars.B4.Web" />
      <add path="*.B4axd" verb="*" type="Bars.B4.HttpHandlerFactory, Bars.B4.Web" validate="false" />
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="POST,GET,HEAD" path="errors.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add verb="GET,HEAD,POST" path="*.js,*.css,*.png,*.gif,*.jpg,*.ico,*.html" type="System.Web.StaticFileHandler" validate="false" />
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
    </httpHandlers>
    <httpModules>
      <!--
    FIXME:
    Mono's ASP.NET MVC throws exceptions if Session module is absent
    -->
      <!--<remove name="Session"/>-->
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="RoleManager" />
      <remove name="FileAuthorization" />
      <remove name="Profile" />
      <remove name="ErrorHandlerModule" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="Elmah.ErrorMail" type="Elmah.ErrorMailModule" />
      <add name="Elmah.FixIIS5xWildcardMapping" type="Elmah.FixIIS5xWildcardMappingModule, Elmah" />
      <add name="StaticFileCacheModule" type="Bars.B4.StaticFileCacheHttpModule, Bars.B4.Web" />
      <add name="UnhandledExceptionHandlerModule" type="Bars.B4.UnhandledExceptionHandlerModule.UnhandledExceptionHandlerModule, Bars.B4.Web" />
      <!--<add name="NoIE6HttpModule" type="Bars.B4.HttpModules.NoIE6HttpModule, Bars.B4" />-->
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <remove name="UrlRoutingModule" />
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.8.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="PerRequestLifestyle" preCondition="managedHandler" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="Elmah.ErrorMail" type="Elmah.ErrorMailModule" />
      <add name="IIS7UnhandledExceptionHandlerModule" type="Bars.B4.UnhandledExceptionHandlerModule.IIS7UnhandledExceptionHandlerModule, Bars.B4.Web" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <handlers accessPolicy="Read, Execute, Script">
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="UrlRoutingHandler" />
      <add name="B4WebService" path="*.B4asmx" verb="*" type="Bars.B4.WebServiceBase, Bars.B4.Web" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode" />
      <add name="B4HttpHandler" path="*.B4axd" verb="*" type="Bars.B4.HttpHandlerFactory, Bars.B4.Web" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="StaticFileHandler" path="*.js,*.css,*.png,*.gif,*.jpg,*.ico,*.html" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Script" />
      <add name="Logger" path="errors.axd" verb="*" type="Elmah.ErrorLogPageFactory, Elmah" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode" />
      <add name="WebResource" path="WebResource.axd" verb="*" type="System.Web.Handlers.AssemblyResourceLoader" />
    </handlers>
    <httpErrors existingResponse="PassThrough">
      <remove statusCode="500" subStatusCode="-1" />
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" maxUrl="32768" maxQueryString="32768" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="http://api.reformagkh.ru/api_document_literal" binding="basicHttpBinding" bindingConfiguration="ApiSoapBinding" contract="ReformaService.ApiSoapPort" name="ApiSoapPort" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="ApiSoapBinding" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" />
      </basicHttpBinding>
    </bindings>
    <!--diagnostics performanceCounters="All" wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="100000" maxSizeOfMessageToLog="458752" />
    </diagnostics-->
  </system.serviceModel>
  <!--system.diagnostics>
    <sources>
      <source propagateActivity="false" name="System.ServiceModel" switchValue="Information">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Temp\Error.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics-->
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <probing privatePath=".cache" />
  <dependentAssembly>
    <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.2.3.0" newVersion="2.2.3.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
</configuration>
